@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Merriweather+Sans&display=swap");

@tailwind base;

@tailwind components;

@tailwind utilities;

:root {
  --color-sandy: #fcc89a;
  --color-light-sandy: #feeac7;
  --color-orange: #fb923c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 5px solid #fff !important;
}

html {
  font-size: 100%;
}

body {
  font-family: "Merriweather Sans", serif;
  line-height: 1;
  font-weight: 400;
  color: #fff;
  background-color: #f5f5dc;
}

a {
  color: #fff;
  position: relative;
}

a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease-out;
}

a:hover::before {
  width: 100%;
}

.custom-scrollbar .simplebar-scrollbar::before {
  background-color: var(--color-orange);
}
